h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
  color: #111827;
}

p {
  color: #6b7280;
  font-size: 16px;
}

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 20px;

  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 16px;
}

.cart-item img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  background: #f9fafb;
  border-radius: 8px;
  padding: 8px;
}

.info {
  flex: 1;
}

.info h4 {
  font-size: 14px;
  font-weight: 500;
  color: #111827;
  margin-bottom: 6px;
}

.info p {
  margin: 0;
  font-size: 14px;
  color: #4b5563;
}

button {
  background: none;
  border: none;
  color: #dc2626;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
}

.summary {
  margin-top: 32px;
  padding-top: 16px;
  border-top: 1px solid #e5e7eb;

  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  color: #111827;
}


.qty {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qty button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #e5e7eb;
  background: #fff;
  cursor: pointer;
}
