<h2>Your Cart</h2>

@if (cart.items().length === 0) {
<p>Your cart is empty.</p>
} @else {
<div class="cart-list">
  @for (item of cart.items(); track item.product.id) {
  <div class="cart-item">
    <img [src]="item.product.image" />

    <div class="info">
      <h4>{{ item.product.title }}</h4>
      <p>₹ {{ item.product.price }}</p>
      <div class="qty">
        <button (click)="cart.decreaseQty(item.product.id)">−</button>
        <span>{{ item.quantity }}</span>
        <button (click)="cart.increaseQty(item.product.id)">+</button>
      </div>
    </div>

    <button (click)="cart.removeFromCart(item.product.id)">Remove</button>
  </div>
  }
</div>

<div class="summary">
  <p>Total Items: {{ cart.totalItems() }}</p>
  <p>Total Price: ₹ {{ cart.totalPrice() }}</p>
</div>
}
